name: codespell

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '48 20 * * 4'

jobs:
  codespell:
    name: codespell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: git log --reverse > git-history.txt
      - run: python3 -m pip install codespell
      - run: codespell -D .dictionary -D -
